
C3 Go Beyond the Numbers/Week2/eda_using_basic_data_functions_in_python_dataset1.csv
C3 Go Beyond the Numbers/Week2/eda_manipulate_date_strings_with_python.csv
C3 Go Beyond the Numbers/Week3/eda_input_validation_joining_dataset1.csv
C3 Go Beyond the Numbers/Week3/eda_input_validation_joining_dataset2.csv
C3 Go Beyond the Numbers/Week3/eda_label_encoding_dataset.csv
C3 Go Beyond the Numbers/Week4/tableau_main_2009_to_2018.csv
C3 Go Beyond the Numbers/Week4/tableau_dataset.csv
